<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />

        <link rel="stylesheet" href="<?= url_static('theme/main.css') ?>">

        <title><?= $title ?></title>
    </head>

    <body>
        <main>
            <?= $this->safe('content') ?>
        </main>
    </body>
</html>
